@import url(
  https://fonts.googleapis.com/css?family=Roboto:400,
  100,
  500,
  300italic,
  500italic,
  700italic,
  900,
  300
);

body {
  margin: 0;
  font-family: Roboto;
}

h1 {
  background: #fe6e00;
  margin: 0;
  color: white;
  padding: 20px 25px;
  font-weight: normal;
}

ul {
  list-style: none;

  li {
    margin: 10px 0;

    .deleteIcon {
      cursor: pointer;
      margin-right: 5px;
      color: #777777;

      &:hover {
        color: #000000;
      }
    }

    label {
      margin-left: 5px;
    }
  }
}
